body {
  font-family: 'Jetbrains Mono';
  background: center url('pxlcasino.png');
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow: hidden;
}

nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0px;
  margin-bottom: 10px;
  background-color: rgba(10,10,10,0.3);
}

#logo {
  margin: 8px;
  height: 50px;
  width: 50px;
  background-image: url('site-logo.png');
}

li {
  flex: 1;
  display: flex;
  background-color: rgba(10,10,10,1);
  height: 250px;
  width: 400px;

  margin: 10px;
  align-content: center;
  justify-content: center;
  overflow: hidden;

  border-radius: 20px;
  box-shadow: -15px 15px 8px rgba(0,0,0,1); 
  border: 1px solid black;
}

li > a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 24px;
  align-content: center;
}

li > a:hover {
  color: #000;
  background-color: rgba(200,200,200, 0.5);
}


/*--- starting main section ---*/

main {
  color: #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: rgba(10,10,10, 0.9);
  border-radius: 20px;
  flex-grow: 1; 
  width: 80%;
  height: 50vh;
}

#userline {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
}

#stats {
  flex: 8;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  margin: 5px;
}

#history {
  flex: 5;
  display: flex;
  width: 100%;
  justify-content: center;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: rgba(10,10,10, 0.9);
  flex-grow: 1;
  width: 80%;
}
