/* {
  background-color: #124;
}*/

nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 0px;
  margin-bottom: 10px;
  background-color: rgba(10,10,10,0.3);
}

#logo {
  margin: 8px;
  height: 50px;
  width: 50px;
  background-image: url('../homepage/site-logo.png');
}

body {
  /*background: center no-repeat url('./inside-bg-ls.png'); */
  background-color: #101010;
  margin: 0px;
  height: 100vh;
  width: 100%;
}

#banner {
  background: url('./blackjack-banner.png');
  height: 150px;
  width: 650px;
}


.main-grid {
  height: 90vh; display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.main-child {
  grid-row-start: 1;
  grid-column-start: 3;
}

.player-action {
  grid-row-start: 5;
  grid-column-start: 3;
}

#dealer-card-holder {
  grid-column: 2 / 5;
  grid-row-start: 2;
  list-style-type: none;
}

#player-card-holder {
  grid-column: 2 / 5;
  grid-row-start: 4;
  list-style-type: none;
}

#player-cards, #dealer-cards {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

button {
  box-sizing: border-box;
  width: 70px;
  height: 40px;
  padding: 2px;
  margin: 5px;
}

h1 {
  color: beige;
}


/* CARDS */ 


#card {
  height: 100px;
  width: 80px;
  padding: 5px;
  margin: 5px;
}

.Ace_of_Spades {background:url(../cards/Ace_of_Spades.png)no-repeat center  / cover}
.Two_of_Spades {background:url(../cards/Two_of_Spades.png)no-repeat center / cover}
.Three_of_Spades {background:url(../cards/Three_of_Spades.png)no-repeat center / cover}
.Four_of_Spades {background:url(../cards/Four_of_Spades.png)no-repeat center / cover}
.Five_of_Spades {background:url(../cards/Five_of_Spades.png)no-repeat center / cover}
.Six_of_Spades {background:url(../cards/Six_of_Spades.png)no-repeat center / cover}
.Seven_of_Spades {background:url(../cards/Seven_of_Spades.png)no-repeat center / cover}
.Eight_of_Spades {background:url(../cards/Eight_of_Spades.png)no-repeat center / cover}
.Nine_of_Spades {background:url(../cards/Nine_of_Spades.png)no-repeat center / cover}
.Ten_of_Spades {background:url(../cards/Ten_of_Spades.png)no-repeat center / cover}
.Jack_of_Spades {background:url(../cards/Jack_of_Spades.png)no-repeat center / cover}
.Queen_of_Spades {background:url(../cards/Queen_of_Spades.png)no-repeat center / cover}
.King_of_Spades {background:url(../cards/King_of_Spades.png)no-repeat center / cover}

.Ace_of_Hearts {background:url(../cards/Ace_of_Hearts.png)no-repeat center / cover}
.Two_of_Hearts {background:url(../cards/Two_of_Hearts.png)no-repeat center / cover}
.Three_of_Hearts {background:url(../cards/Three_of_Hearts.png)no-repeat center / cover}
.Four_of_Hearts {background:url(../cards/Four_of_Hearts.png)no-repeat center / cover}
.Five_of_Hearts {background:url(../cards/Five_of_Hearts.png)no-repeat center / cover}
.Six_of_Hearts {background:url(../cards/Six_of_Hearts.png)no-repeat center / cover}
.Seven_of_Hearts {background:url(../cards/Seven_of_Hearts.png)no-repeat center / cover}
.Eight_of_Hearts {background:url(../cards/Eight_of_Hearts.png)no-repeat center / cover}
.Nine_of_Hearts {background:url(../cards/Nine_of_Hearts.png)no-repeat center / cover}
.Ten_of_Hearts { background:url(../cards/Ten_of_Hearts.png)no-repeat center / cover}
.Jack_of_Hearts {background:url(../cards/Jack_of_Hearts.png)no-repeat center / cover}
.Queen_of_Hearts {background:url(../cards/Queen_of_Hearts.png)no-repeat center / cover}
.King_of_Hearts {background:url(../cards/King_of_Hearts.png)no-repeat center / cover}

.Ace_of_Clubs {background:url(../cards/Ace_of_Clubs.png)no-repeat center / cover}
.Two_of_Clubs {background:url(../cards/Two_of_Clubs.png)no-repeat center / cover}
.Three_of_Clubs {background:url(../cards/Three_of_Clubs.png)no-repeat center / cover}
.Four_of_Clubs {background:url(../cards/Four_of_Clubs.png)no-repeat center / cover}
.Five_of_Clubs {background:url(../cards/Five_of_Clubs.png)no-repeat center / cover}
.Six_of_Clubs {background:url(../cards/Six_of_Clubs.png)no-repeat center / cover}
.Seven_of_Clubs {background:url(../cards/Seven_of_Clubs.png)no-repeat center / cover}
.Eight_of_Clubs {background:url(../cards/Eight_of_Clubs.png)no-repeat center / cover}
.Nine_of_Clubs {background:url(../cards/Nine_of_Clubs.png)no-repeat center / cover}
.Ten_of_Clubs { background:url(../cards/Ten_of_Clubs.png)no-repeat center / cover}
.Jack_of_Clubs {background:url(../cards/Jack_of_Clubs.png)no-repeat center / cover}
.Queen_of_Clubs {background:url(../cards/Queen_of_Clubs.png)no-repeat center / cover}
.King_of_Clubs {background:url(../cards/King_of_Clubs.png)no-repeat center / cover}

.Ace_of_Diamonds {background:url(../cards/Ace_of_Diamonds.png)no-repeat center / cover}
.Two_of_Diamonds {background:url(../cards/Two_of_Diamonds.png)no-repeat center / cover}
.Three_of_Diamonds {background:url(../cards/Three_of_Diamonds.png)no-repeat center / cover}
.Four_of_Diamonds {background:url(../cards/Four_of_Diamonds.png)no-repeat center / cover}
.Five_of_Diamonds {background:url(../cards/Five_of_Diamonds.png)no-repeat center / cover}
.Six_of_Diamonds {background:url(../cards/Six_of_Diamonds.png)no-repeat center / cover}
.Seven_of_Diamonds {background:url(../cards/Seven_of_Diamonds.png)no-repeat center / cover}
.Eight_of_Diamonds {background:url(../cards/Eight_of_Diamonds.png)no-repeat center / cover}
.Nine_of_Diamonds {background:url(../cards/Nine_of_Diamonds.png)no-repeat center / cover}
.Ten_of_Diamonds { background:url(../cards/Ten_of_Diamonds.png)no-repeat center / cover}
.Jack_of_Diamonds {background:url(../cards/Jack_of_Diamonds.png)no-repeat center / cover}
.Queen_of_Diamonds {background:url(../cards/Queen_of_Diamonds.png)no-repeat center / cover}
.King_of_Diamonds {background:url(../cards/King_of_Diamonds.png)no-repeat center / cover}
