<div id='chat' class="chat">
  <ul id='chatbox' class="chatbox">
    {% for message in chat_messages reversed %}
      {% include 'poker/chat_message.html' %}
    {% endfor %}
  </ul>
  <form id="chat_message_form" class="chatbar"
    hx-ext="ws"
    ws-connect="/ws/room/{{room.link}}"
    ws-send
    _="on htmx:wsAfterSend reset() me">
    {% csrf_token %}
    {{ form.body }}
    {{ form.type }}
  </form>
</div>

{% block javascript %}
<script>

  function scrollToBottom() {
    const container = document.getElementById('chat');
    container.scrollTop = container.scrollHeight;
  }
  scrollToBottom()
  
</script>
{% endblock %}