{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker - FreePlay</title>
    <link rel="stylesheet" href="{% static 'poker/game-styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" href="{% static 'homepage/site-logo.png' %}" type="image/x-icon">
    <!-- htmx script install -->
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js" integrity="sha384-Xh+GLLi0SMFPwtHQjT72aPG19QvKB8grnyRbYBNIdHWc2NkCrz65jlU7YrzO6qRp" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div id="container" class="container"
        hx-ext="ws"
        ws-connect="/ws/room/{{room.link}}">
        <div class="top">
            <button onclick="window.location.href='/';" class="logo">
                <span class="material-symbols-outlined">
                    monetization_on
                </span>
                GOPOKER
            </button>

            <!-- Make into templates -->
            <button class="away">
                <span class="material-symbols-outlined">
                    airline_seat_recline_extra
                </span>
            </button>

            {% if cur_pokerplayer.host == True %}
                <button id="start-stop" class="start-stop"
                    hx-trigger="click"
                    ws-send=""
                    hx-vals='{
                        "type": "start_game"
                    }'>
                    <span class="material-symbols-outlined">
                        start
                        <!-- stop -->
                    </span>
                </button>

                <button class="pause">
                    <span class="material-symbols-outlined">
                        play_pause
                    </span>
                </button>
            {% endif %}

            <button class="menu">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
        </div>
        
    
        <div id="gamecontainer" class="gamecontainer">
            <div id="pokertable" class="pokertable">
                <div class="popupmessage">
                    PRESS ON THE LINK TO COPY AND SEND TO FRIENDS
                    <div class="popupmessagecontainer">
                        <button id="full-url" class="gamelink"></button>
                        <script>
                            // Get the full URL of the current page
                            var fullUrl = window.location.href;
                    
                            // Display the full URL in the span element
                            document.getElementById('full-url').textContent = fullUrl;
                            document.getElementById('full-url').addEventListener('click', function() {
                                // Use the Clipboard API to copy the URL to the clipboard
                                navigator.clipboard.writeText(fullUrl).then(function() {
                                    alert('URL copied to clipboard!');
                                }).catch(function(error) {
                                    console.error('Error copying text: ', error);
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>

            {% for pplayer in player_queue %}
                {% if pplayer.player.user.username != cur_pokerplayer.player.user.username %}
                    <div class="seat{{forloop.counter}}">
                        <div class="seatname">{{pplayer.player.user.username}}</div>
                        <div class="seatmoney">{{pplayer.stack}}</div>
                        <div class="seathandcontainer">
                            {% comment %} <div class="card1"></div>
                            <div class="card2"></div> {% endcomment %}
                        </div>
                        {% comment %} <div class="seat{{forloop.counter}}action">CHECK</div> {% endcomment %}
                    </div>
                {% endif %}
            {% endfor %}
            
        </div>
    
        <div class="bottom" 
            hx-get="{% url 'poker:chat' room.link %}" 
            hx-trigger="load" 
            hx-swap="afterbegin">            
    
            <div id="playercontainer" class="playercontainer">

                <div class="newplayercontainer">
                    <input class="nicknamebar" name="nickname" type="text" placeholder="Enter Nickname" value={{user.username}}>
                    <input class="buyinbar" name="buyin" type="text" placeholder="Enter Buy-in">
                    <button class="sitdown" type="submit" 
                        hx-post="{% url 'poker:join' room.link %}" 
                        hx-target="#playercontainer"
                        hx-include="closest div"
                        hx-swap="innerHTML">
                        SIT DOWN
                    </button>
                </div>

                <!-- <div class="playeraction">CHECK</div> -->
                
                <!-- <div class="timer">
                    <div class="timerprogress"></div>
                </div> -->
            </div>
    
            <div class="ledger">
                <div class="ledgerheader">
                    <div class="namecolumn">NAME</div>
                    <div class="buyincolumn">BUY-IN</div>
                    <div class="stackcolumn">STACK</div>
                    <div class="netcolumn">NET</div>
                </div>
                <!-- <div class="ledgerlog">
                    <div class="namecolumn">{{.Username}}</div>
                    <div class="buyincolumn">{{.buyIn}}</div>
                    <div class="stackcolumn">{{.Money}}</div>
                    <div class="netcolumn">{{.netMoney}}</div>
                </div> -->
            </div>
        </div>

        <!-- <div class="menuscreen">
            <div class="menuscreenheader">
                <button>WAITING ROOM</button>
                <button>SETTINGS</button>
                <button>
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </button>
            </div>
        </div> -->
        
    </div>
    {% block javascript %}{% endblock %}
</body>

</html>