{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameRoom</title>
    <link rel="stylesheet" href="{% static 'poker/game-styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- htmx script install -->
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js" integrity="sha384-Xh+GLLi0SMFPwtHQjT72aPG19QvKB8grnyRbYBNIdHWc2NkCrz65jlU7YrzO6qRp" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div id="container" class="container">
        <div class="top">
            <button onclick="window.location.href='/';" class="logo">
                <span class="material-symbols-outlined">
                    monetization_on
                </span>
                GOPOKER
            </button>

            <!-- Make into templates -->
            <button class="away">
                <span class="material-symbols-outlined">
                    airline_seat_recline_extra
                </span>
            </button>

            <button id="start-stop" class="start-stop" hx-get="{% url 'poker:start' %}" hx-target="#game-update-container" hx-swap="transition:true">
                <span class="material-symbols-outlined">
                    start
                    <!-- stop -->
                </span>
            </button>

            <button class="pause">
                <span class="material-symbols-outlined">
                    play_pause
                </span>
            </button>

            <button class="menu">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
        </div>
        
    
        <div class="gamecontainer">
            <div id="pokertable" class="pokertable">
                <div class="popupmessage">
                    PRESS ON THE LINK TO COPY AND SEND TO FRIENDS
                    <div class="popupmessagecontainer">
                        <button class="gamelink">http://gopoker.gg/room/aaaaaaaaaaaaa</button>
                    </div>
                </div>
            </div>

            {% comment %} <div class="seat1">
                <div class="seatname">{{.Username}}</div>
                <div class="seatmoney">{{.Money}}</div>
                <div class="seathandcontainer">
                    <div class="card1"></div>
                    <div class="card2"></div>
                </div>
                <div class="seat1action">CHECK</div>
            </div>

            <div class="seat2">
                <div class="seatname">{{.Username}}</div>
                <div class="seatmoney">{{.Money}}</div>
                <div class="seathandcontainer">
                    <div class="card1"></div>
                    <div class="card2"></div>
                </div>
                <div class="seat2action">CHECK</div>
            </div>

            <div class="seat3">
                <div class="seatname">{{.Username}}</div>
                <div class="seatmoney">{{.Money}}</div>
                <div class="seathandcontainer">
                    <div class="card1"></div>
                    <div class="card2"></div>
                </div>
                <div class="seat3action">CHECK</div>
            </div>

            <div class="seat4">
                <div class="seatname">{{.Username}}</div>
                <div class="seatmoney">{{.Money}}</div>
                <div class="seathandcontainer">
                    <div class="card1"></div>
                    <div class="card2"></div>
                </div>
                <div class="seat4action">CHECK</div>
            </div>

            <div class="seat5">
                <div class="seatname">{{.Username}}</div>
                <div class="seatmoney">{{.Money}}</div>
                <div class="seathandcontainer">
                    <div class="card1"></div>
                    <div class="card2"></div>
                </div>
                <div class="seat5action">CHECK</div>
            </div>
            
            <div class="seat6">
                <div class="seatname">{{.Username}}</div>
                <div class="seatmoney">{{.Money}}</div>
                <div class="seathandcontainer">
                    <div class="card1"></div>
                    <div class="card2"></div>
                </div>
                <div class="seat6action">CHECK</div>
            </div>

            <div class="seat7">
                <div class="seatname">{{.Username}}</div>
                <div class="seatmoney">{{.Money}}</div>
                <div class="seathandcontainer">
                    <div class="card1"></div>
                    <div class="card2"></div>
                </div>
                <div class="seat7action">CHECK</div>
            </div>

            <div class="seat8">
                <div class="seatname">{{.Username}}</div>
                <div class="seatmoney">{{.Money}}</div>
                <div class="seathandcontainer">
                    <div class="card1"></div>
                    <div class="card2"></div>
                </div>
                <div class="seat8action">CHECK</div>
            </div>

            <div class="seat9">
                <div class="seatname">{{.Username}}</div>
                <div class="seatmoney">{{.Money}}</div>
                <div class="seathandcontainer">
                    <div class="card1"></div>
                    <div class="card2"></div>
                </div>
                <div class="seat9action">CHECK</div>
            </div> {% endcomment %}

            
        </div>
    
        <div class="bottom" hx-get="{% url 'poker:chat' %}" hx-trigger="load" hx-swap="afterbegin">            
    
            <div id="playercontainer" class="playercontainer">

                <!-- <div class="newplayercontainer">
                    <input class="nicknamebar" type="text" placeholder="Enter Nickname">
                    <input class="buyinbar" type="text" placeholder="Enter Buy-in">
                    <button class="sitdown">SIT DOWN</button>
                </div> -->

                <!-- <div class="playeraction">CHECK</div> -->
                
                <!-- <div class="timer">
                    <div class="timerprogress"></div>
                </div> -->
            </div>
    
            <div class="ledger">
                <div class="ledgerheader">
                    <div class="namecolumn">NAME</div>
                    <div class="buyincolumn">BUY-IN</div>
                    <div class="stackcolumn">STACK</div>
                    <div class="netcolumn">NET</div>
                </div>
                <!-- <div class="ledgerlog">
                    <div class="namecolumn">{{.Username}}</div>
                    <div class="buyincolumn">{{.buyIn}}</div>
                    <div class="stackcolumn">{{.Money}}</div>
                    <div class="netcolumn">{{.netMoney}}</div>
                </div> -->
            </div>
        </div>

        <!-- <div class="menuscreen">
            <div class="menuscreenheader">
                <button>WAITING ROOM</button>
                <button>SETTINGS</button>
                <button>
                    <span class="material-symbols-outlined">
                        close
                    </span>
                </button>
            </div>
        </div> -->
        
    </div>
    <div id="game-update-container"></div>
    {% block javascript %}{% endblock %}
</body>

</html>