<!-- Inserted into 'playercontainer' div -->
<div class="playeroptionscontainer">
  <div class="playerhandcontainer">
      <!-- <div class="playercard1">7</div>
      <div class="playercard2">2</div>
      <button class="showhand">SHOW HAND</button> -->
  </div>
  <div class="playerbuttons">
      <div class="button1-2">
          <button class="call" disabled>CALL</button>
          <button class="check">CHECK</button>
      </div>
      <div class="button3-4">
          <button class="raise">RAISE</button>
          <button class="fold">FOLD</button>
      </div>
  </div>
</div>