<!-- Inserted into 'playercontainer' div -->
<div class="raisescreencontainer">
  <div class="subraisecontainer">
      <button class="raisebutton">
          <span class="material-symbols-outlined">
              remove
          </span>
      </button>
      <input class="raiseinput" type="text" placeholder="{{.raise}}">
      <button class="raisebutton">
          <span class="material-symbols-outlined">
              add
          </span>
      </button>
  </div>
  <div class="subraisecontainer">
      <button class="raisebutton">1/4</button>
      <button class="raisebutton">1/2</button>
      <button class="raisebutton">POT</button>
      <button class="raisebutton">ALL IN</button>
  </div>
  <div class="subraisecontainer" style="justify-content: space-evenly;">
      <button class="confirm">CONFIRM</button>
      <button class="cancel">CANCEL</button>
  </div>
</div>