{% extends "../base.html" %}
{% load static %}
{% block head %}
  <title>login</title>
  <!-- htmx script install -->
  <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js" integrity="sha384-Xh+GLLi0SMFPwtHQjT72aPG19QvKB8grnyRbYBNIdHWc2NkCrz65jlU7YrzO6qRp" crossorigin="anonymous"></script>
    <link href="{% static 'homepage/styles.css' %}" rel="stylesheet">
{% endblock %}
{% block subsection %}
  <div>
    <input name="username" placeholder="username">
    <input name="password" placeholder="password">
    <button hx-post="{% url 'login' %}" hx-include="closest div">Login</button>
  </div>
{% endblock %}
