{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blackjack - FreePlay</title>
    <link href="{% static 'blackjack/styles.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'homepage/site-logo.png' %}" type="image/x-icon">
    <!-- htmx script install -->
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js" integrity="sha384-Xh+GLLi0SMFPwtHQjT72aPG19QvKB8grnyRbYBNIdHWc2NkCrz65jlU7YrzO6qRp" crossorigin="anonymous"></script>
    <!-- htmx websocket install -->
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <nav>
      <a href="/">
        <div id="logo"> </div>
      </a>
      <button hx-post="{% url 'bj:leave' room.link %}"> leave room </button>
      <button hx-post="{% url 'bj:reset' room.link %}"> Reset Cards </button>
    </nav>

    <main id="game-container" 
      hx-ext="ws" 
      ws-connect="/ws/blackjack/{{room.link}}"
      hx-trigger="load">

      <div class="main-grid">
        <div id="banner" class="main-child"></div>

        <div id="game_state_message"></div>

        <div id="dealer-card-holder">
          <div id="dealer-cards"></div>
        </div>

        <div id="player-card-holder">
          <div id="player-cards"> 

          </div>
        </div>


        <div id="player" class="player-action">
          <input name="uname" placeholder="Enter Name:" value="{{user.username}}">
          <input name="buyin" placeholder="Buy-in:">
          <button 
            hx-post="{% url 'bj:join' room.link %}" 
            hx-target="#player" 
            hx-include="closest div"
            hx-swap="outerHTML swap:1s">
          join </button>
        </div>
      </div>

    </main>
  </body>
</html>
