{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blackjack - FreePlay</title>
    <link href="{% static 'blackjack/styles.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'homepage/site-logo.png' %}" type="image/x-icon">
    <!-- htmx script install -->
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js" integrity="sha384-Xh+GLLi0SMFPwtHQjT72aPG19QvKB8grnyRbYBNIdHWc2NkCrz65jlU7YrzO6qRp" crossorigin="anonymous"></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <nav>
      <a href="/">
      <div id="logo"> </div>
      </a>
    </nav>

    <main>
      <div class="main-grid">
        <div id="banner" class="main-child"></div>


        <div id="card-holder">
          <div id="cards"></div>
        </div>

        <div id="name" class="player-action">
          <input name="url" placeholder="Join friend:">
          <input name="room" placeholder="Room Name:">
          <button hx-post="{% url 'bj:create' %}" 
            hx-include="closest div"> Start </button>
        </div>


      </div>
    </main>
  </body>
</html>
