<div id="player1" class="player-action">
  <div class="player-info">
    {{name}} | {{chips}}
  </div>
  <div>
    <button hx-trigger="click"
      ws-send=""
      hx-vals='{
        "type": "player_action",
        "event_type": "hit", 
        "user": "{{user}}"
      }'> Hit </button>
    <button hx-trigger="click"
      ws-send=""
      hx-vals='{
        "type": "player_action",
        "event_type": "stand", 
        "user": "{{user}}"
      }'> Stand </button>
    <div id="bet">
      <input name="player-bet" placeholder="Enter Bet">
      <button hx-trigger="click"
         hx-include="closest div"
         ws-send=""
         hx-vals='js:{
           "type": "player_action",
           "event_type": "bet", 
           "user": "{{user}}",
      }' hx-swap="none"> Place Bet </button>
    </div>
  </div>
</div>
