{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GoPoker</title>
    <link href="{% static 'blackjack/styles.css' %}" rel="stylesheet">
    <!-- htmx script install -->
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js" integrity="sha384-Xh+GLLi0SMFPwtHQjT72aPG19QvKB8grnyRbYBNIdHWc2NkCrz65jlU7YrzO6qRp" crossorigin="anonymous"></script>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <nav>
      <a href="/"> <h1> gopoker </h1></a>
    </nav>

    <main>
      <div class="main-grid">
        <h1 class="main-child"> welcome to {{ room.name }} </h1> 

        <div id="card-holder">
          <div id="cards"></div>
        </div>


        <div id="player" class="player-action">
          <input name="uname" placeholder="Enter Name:">
          <input name="buyin" placeholder="Buy-in:">
          <button hx-post="{% url 'bj:join' room.id %}" hx-target="#player" hx-include="closest div">
            join </button>
        </div>


      </div>
    </main>

    <footer>
      <p> copyright </p>
    </footer>
  </body>
</html>
